/*address edit popup*/
.editAddressPopup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}


.editAddressPopup .editAddressPopupWrapper {
    width: 500px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 20px;
}

.editAddressPopup .editAddressPopupWrapper .titleAddress span {
    font-size: 18px;
    font-family: var(--font-family-sans-serif);
    color: var(--color-black);
}

.editAddressPopup .editAddressPopupWrapper form .editFullNamePhone {
    display: flex;
    align-items: center;
}

.editAddressPopup .editAddressPopupWrapper form .editFullNamePhone .editFullName,
.editAddressPopup .editAddressPopupWrapper form .editFullNamePhone .editPhone {
    flex: 1;
    padding: 10px;
    font-size: 14px;
}

.editAddressPopup .editAddressPopupWrapper form .editFullNamePhone .editFullName .editFullNameInput,
.editAddressPopup .editAddressPopupWrapper form .editFullNamePhone .editPhone input {
    /*box-sizing: border-box;*/
    /*width: 100%;*/
}

.editAddressPopup .editAddressPopupWrapper form .editFullNamePhone .editFullName .editFullNameInput,
.editAddressPopup .editAddressPopupWrapper form .editFullNamePhone .editFullName .editFullNameInput:focus {
    border-color: var(--color-black);
}

.editAddressPopup .editAddressPopupWrapper form .editAddress,
.editAddressPopup .editAddressPopupWrapper form .editAddressDetail {
    padding: 10px;
}

.editAddressPopup .editAddressPopupWrapper form .addressDefault {
    display: flex;
    align-items: center;
    padding: 10px;
}

.editAddressPopup .editAddressPopupWrapper form .addressDefault input[type='checkbox'] {
    margin-right: 5px;
}

.editAddressPopup .editAddressPopupWrapper form .addressDefault label {
    font-size: 14px;
    font-family: var(--font-family-sans-serif);
}

.editAddressPopup .editAddressPopupWrapper form .action {
    padding: 10px;
    text-align: right;
}

.editAddressPopup .editAddressPopupWrapper form .action button {
    width: 100px;
    border: 1px solid var(--color-black);
    background: var(--color-black);
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    transition: all .3s;
}

.editAddressPopup .editAddressPopupWrapper form .action button:hover {
    background: #FFFFFF;
    color: var(--color-black);
}

.editAddressPopup .editAddressPopupWrapper form .action button:disabled {
    background: var(--color-silver);
    border: var(--color-silver);
    color: var(--color-black);
}