.showSidebar, .hideSidebar, .responsive{display: none}

.AccountDetailContainer {
    background: #f5f5f5;
    position: relative;
}

.AccountDetailContainer .AccountDetailWrapper {
    width: 80%;
    margin: 10px auto;
    display: flex;
    padding: 10px;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar {
    width: 20%;
    padding: 20px;
    height: 420px;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .accountDetailImg {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .accountDetailImg .imgWrapper {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 9999px;
    margin-right: 10px;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .accountDetailImg .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .accountDetailImg .info {
    display: flex;
    flex-direction: column;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .accountDetailImg .info .username {
    width: 50px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .accountDetailImg .info .editProfile {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color-silver);
    cursor: pointer;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .accountDetailItem {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: var(--color-black);
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .accountDetailItem .icons {
    font-size: 18px;
    margin-right: 10px;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .myAccount {
    display: inline-block;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .myAccount .title {
    display: flex;
    align-items: center;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .myAccount .options {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailSideBar .myAccount .options button {
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    color: #636e72;
}

.AccountDetailContainer .AccountDetailWrapper .AccountDetailContent {
    width: 80%;
    background: #FFFFFF;
    border-radius: 4px;
}

