.orderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.orderContainer .orderWrapper {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderContainer .orderWrapper .orderInfoUserAddress,
.orderContainer .orderWrapper .orderPaymentMethod,
.orderContainer .orderWrapper .orderDetails {
    border: 1px solid #000000;
    width: 33%;
    height: 100%;
}

.orderContainer .orderWrapper .title {
    font-family: var(--font-family-sans-serif);
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

.orderContainer .orderWrapper .title p {
    margin-bottom: 0;
}

.orderContainer .orderWrapper .orderInfoUserAddress,
.orderContainer .orderWrapper .orderPaymentMethod {
    padding: 10px;
    border: none;
}

.orderContainer .orderWrapper .orderInfoUserAddress .boxWrapper {
    padding: 5px;
    line-height: 10px;
}

.orderContainer .orderWrapper .orderInfoUserAddress .boxWrapper .formControl {
    padding: 10px 0;
    font-size: 14px;
}

/**/
.orderContainer .orderWrapper .orderPaymentMethod {

}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping {
    margin-bottom: 20px;
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput {
    padding: 10px;
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput .messageWarning {
    border: 1px solid #84d6e5;
    background: #D1ECF1;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput .messageSuccess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-silver);
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput .messageSuccess .messageSuccessLoading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    font-size: 25px;
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput .messageSuccess .messageSuccessLoading .loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput .messageSuccess div {
    display: flex;
    align-items: center;
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput .messageSuccess input[type=radio] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput .messageSuccess input[type=radio]:checked {
    border-color: var(--color-black);
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput .messageSuccess input[type=radio]:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--color-black);
    border-radius: 50%;
    transform: translate(-54%, -54%);
}

.orderContainer .orderWrapper .orderPaymentMethod .orderShipping .messageCheckInput p {
    margin-bottom: 0;
}


.orderContainer .orderWrapper .orderPaymentMethod .payment {
    padding: 10px;
}

.orderContainer .orderWrapper .orderPaymentMethod .payment .paymentSelector {
    padding: 5px;
}

.orderContainer .orderWrapper .orderPaymentMethod .payment .paymentSelector .paymentWrapper {
    border: 1px solid var(--color-silver);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
}

.orderContainer .orderWrapper .orderPaymentMethod .payment .paymentSelector .paymentWrapper .radioWrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.orderContainer .orderWrapper .orderPaymentMethod .payment .paymentSelector .paymentWrapper .radioWrapper input[type=radio] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
}

.orderContainer .orderWrapper .orderPaymentMethod .payment .paymentSelector .paymentWrapper .radioWrapper input[type=radio]:checked {
    border-color: var(--color-black);
}

.orderContainer .orderWrapper .orderPaymentMethod .payment .paymentSelector .paymentWrapper .radioWrapper input[type=radio]:checked:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--color-black);
    border-radius: 50%;
    transform: translate(-54%, -54%);
}

.orderContainer .orderWrapper .orderPaymentMethod .payment .VNPayImgWrapper {
    width: 50px;
}

.orderContainer .orderWrapper .orderPaymentMethod .payment .VNPayImgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/**/

.orderContainer .orderWrapper .orderDetails {
    padding: 10px;
    border: none;
    border-left: 1px solid #ccc;
}

.orderContainer .orderWrapper .orderDetails .title {
    padding-bottom: 10px;
}

.orderContainer .orderWrapper .orderDetails .orderProducts {
    border-top: 1px solid #ccc;
    padding: 10px 5px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.orderContainer .orderWrapper .orderDetails .orderProducts::-webkit-scrollbar {
    width: 6px;
    display: none;
}

.orderContainer .orderWrapper .orderDetails .orderProducts::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

.orderContainer .orderWrapper .orderDetails .orderProducts::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.71);
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}

.orderContainer .orderWrapper .orderDetails .orderProducts::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.87);
}


.orderContainer .orderWrapper .orderDetails .orderProducts .orderProductsItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.orderContainer .orderWrapper .orderDetails .orderProducts .orderProductsItem .orderProductsItemImgWrapper {
    width: 20%;
    height: 80px;
    border-radius: 6px;
    overflow: hidden;
    border-color: #ccc;
    margin-right: 5px;
}

.orderContainer .orderWrapper .orderDetails .orderProducts .orderProductsItem .orderProductsItemImgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.orderContainer .orderWrapper .orderDetails .orderProducts .orderProductsItem .orderProductsItemDetail {
    font-size: 13px;
    width: 70%;
    font-family: var(--font-family-sans-serif);
}

.orderContainer .orderWrapper .orderDetails .orderProducts .orderProductsItem .orderProductsItemDetail p {
    margin-bottom: 0;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.orderContainer .orderWrapper .orderDetails .orderProducts .orderProductsItem .orderProductsItemDetail span {
    font-size: 13px;
    color: var(--color-silver);
}

.orderContainer .orderWrapper .orderDetails .orderProducts .orderProductsItem .orderProductsItemPrice {
    font-weight: 500;
    font-size: 13px;
}

.orderContainer .orderWrapper .orderDetails .discountCode {
    border-top: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderContainer .orderWrapper .orderDetails .discountCode input[type=text] {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 13px;
    box-sizing: border-box;
    width: 70%;
    outline: none;
    border-radius: 4px;
}

.orderContainer .orderWrapper .orderDetails .discountCode button {
    border: none;
    background-color: var(--color-black);
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    padding: 10px;
    width: 25%;
    border-radius: 4px;
    transition: all .3s;
}

.orderContainer .orderWrapper .orderDetails .discountCode button:hover {
    background-color: #ccc;
    color: var(--color-black);
}

.orderContainer .orderWrapper .orderDetails .price {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.orderContainer .orderWrapper .orderDetails .price p {
    margin-bottom: 0;
    font-size: 14px;
    color: var(--color-black);
    font-weight: 500;
}

.orderContainer .orderWrapper .orderDetails .price .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.orderContainer .orderWrapper .orderDetails .totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 20px 10px;
}

.orderContainer .orderWrapper .orderDetails .totalPrice p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
}

.orderContainer .orderWrapper .orderDetails .orderSubmitBtn {
    padding: 20px 10px;
    border-top: 1px solid #ccc;
}

.orderContainer .orderWrapper .orderDetails .orderSubmitBtn button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: var(--color-black);
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    transition: all .3s;
}

.orderContainer .orderWrapper .orderDetails .orderSubmitBtn button:hover{
    background-color: #ccc;
    color: var(--color-black);
}