
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.leftContentResponsive, .sidebarPopupResponsive {
    display: none;
}

/* search popup */
.searchPopup {
    background: #ffffff;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    transform: translateY(-200%);
    transition: all .7s;
    z-index: 999;
    overflow: hidden;
}

.searchPopupShow {
    transform: translateY(0);
    overflow: hidden;
    overflow-y: scroll;
}

.searchPopup .searchWrapper {
    height: 100px;
    width: 70%;
    text-align: center;
    padding: 10px;
    background: #ffffff;
}

.searchPopup .searchWrapper .closeBtn {
    padding: 10px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.searchPopup .searchWrapper .closeBtn:hover {
    color: var(--color-silver);
}

.searchPopup .searchWrapper h3 {
    color: var(--color-black);
    font-family: var(--font-family-monospace);
    font-size: 25px;
    margin-bottom: 20px;
}

.searchPopup .searchWrapper .searchInput {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--color-black);
    overflow: hidden;
    border-radius: 10px;
}

.searchPopup .searchWrapper .searchInput input {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
}

.searchPopup .searchWrapper .searchInput button {
    padding: 10px;
    width: 100px;
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

.searchPopup .searchWrapper .searchInput button:hover {
    background: var(--color-silver);
}

.searchResult {
    margin-top: 20px;
    padding: 10px;
}

.searchResult .searchResultList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.searchResult .searchResultList .find-more{
    width: 22%;
    height: 330px;
    margin-top: 15px;
    background: var(--color-silver-white);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-sans-serif);
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
    transition: all .3s;
}

.searchResult .searchResultList .find-more:hover{
    transform: scale(1.1);
    color: var(--color-silver);
}

/*  */
.headerWrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.leftContent {
    padding: 10px;
    cursor: pointer;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftContent .home, .leftContent .warranty, .rightContent span {
    font-family: var(--font-family-monospace);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-black);
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
}

.leftContent span:last-child {
    margin-right: 130px;
}

.leftContent .home:hover, .leftContent .warranty:hover, .rightContent .sizeTable:hover {
    color: var(--color-silver);
}

.centerContent {
    width: 30%;
}

.centerContent .imageLogoWrapper {
    height: 30px;
    width: 100%;
    overflow: hidden;
}


.rightContent {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.rightContent .sizeTable {

}

.groupBtn {
    display: flex;
    align-items: center;
}

.rightContent .btnIcons {
    background: none;
    border: none;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rightContent .groupBtn .avatarIcon {
    margin-left: 10px;
}

.rightContent .groupBtn .avatarIcon:hover .avatarOption {
    visibility: inherit;
}

.rightContent .groupBtn .avatarIcon .avatarIconWrapper {
    width: 30px;
    height: 30px;
    border-radius: 999px;
    overflow: hidden;
    position: relative;
}

.rightContent .groupBtn .avatarIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightContent .groupBtn .avatarIcon .avatarOption {
    /*border: 1px solid var(--color-black);*/
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFFFFF;
    z-index: 3;
    top: 60px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;
    visibility: hidden;
    transition: all .3s;
}

.rightContent .groupBtn .avatarIcon .avatarOption button {
    border: none;
    background: none;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: var(--font-family-monospace);
    color: var(--color-black);
    padding: 10px;
    font-weight: 500;
    transition: all .3s;
}


.rightContent .groupBtn .avatarIcon .avatarOption .myAccountLink {
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: var(--font-family-monospace);
    transition: all .3s;
}

.rightContent .groupBtn .avatarIcon .avatarOption .myAccountLink:hover,
.rightContent .groupBtn .avatarIcon .avatarOption button:hover {
    background-color: #cccccc;
}

#searchBtn:focus {
    color: var(--color-black);
}

.rightContent .icons {
    font-size: 22px;
    cursor: pointer;
    transition: all .3s;
    color: var(--color-black);
}

.rightContent .btnIcons:hover .icons {
    color: var(--color-silver);
}

.categoriesContainer {
    display: flex;
    justify-content: center;
}

.categoriesContainer .categoriesWrapper {
    width: 70%;
    /*border: 1px solid #000000;*/
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: var(--font-family-sans-serif);
}

.categoriesContainer .categoriesWrapper .categoryItem {
    color: var(--color-black);
    cursor: pointer;
    transition: all .3s;
}

.categoriesContainer .categoriesWrapper .categoryItem:hover {
    color: var(--color-silver);
}

.btnIcons .cart-quantity {
    margin-top: -11px !important;
    top: 0;
    right: 0;
    background: #070707;
    color: white !important;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px !important;
}

/* responsive */
@media only screen and (max-width: 767px) {
    .headerContainer {
        position: fixed;
        background: #ffffff;
        width: 100%;
    }

    .leftContentResponsive {
        display: block;
        width: 25%;
    }

    .leftContentResponsive .sideBar {
        background: none;
        border: none;
    }

    .leftContentResponsive .sideBar .icon {
        font-size: 20px;
    }

    .sidebarPopupResponsive {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        border: 1px solid var(--color-silver);
        width: 40%;
        min-height: 100vh;
        z-index: 2;
        background: #ffffff;
        transition: all .3s;
        transform: translateX(-100%);
    }

    .sidebarResponsiveToggle {
        transform: translateX(0);
    }

    .sidebarPopupResponsive .closeBtn {
        padding: 10px;
        background: none;
        border: none;
        position: absolute;
        right: 0;
        font-size: 20px;
    }

    .sidebarPopupResponsive .title {
        font-weight: 500;
        font-size: 16px;
        padding: 10px;
    }

    .sidebarPopupResponsive .sidebarWrapper {
        padding: 10px;
    }

    .sidebarPopupResponsive .sidebarWrapper .sideBarItem {
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid var(--color-silver);
    }

    .sidebarPopupResponsive .sidebarWrapper .categoriesWrapper {
    }

    .sidebarPopupResponsive .sidebarWrapper .categoriesWrapper .categoryItem {
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid var(--color-silver);
    }

    .headerWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .leftContent {
        display: none;
    }

    .centerContent {
        /*width: 50%;*/
    }

    .centerContent .imageLogoWrapper {
        height: 20px;
        /*width: 60%;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centerContent .imageLogoWrapper img {
        width: 100%;
        height: 100%;
    }

    .rightContent {
        /*width: 50%;*/
    }

    .rightContent .sizeTable {
        display: none;
    }

    .rightContent .icons {
        font-size: 18px;
    }

    .categoriesContainer {
        display: none;
    }

    .searchPopup .searchWrapper h3 {
        font-size: 20px;
    }

    .searchPopup .searchWrapper .searchInput input {
        padding: 5px 10px;
        font-size: 12px;
    }

    .searchPopup .searchWrapper .searchInput button {
        padding: 5px 5px;
        font-size: 12px;
    }
}
